<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Submit a Form</h1>
    <form action="/Form_submit" method="post">
        <!-- <label for ="name">Name:</label>
        <input type="text" id="name" name="name"> -->
         <label for="science">Science:</label><br>
       <input type="text" id="science" name="science" value="0"><br><br>
       <label for="maths">Maths:</label><br>
       <input type="text" id="maths" name="maths" value="0"><br><br>
       <label for="C">C:</label><br>
       <input type="text" id="C" name="C" value="0"><br><br>
       <label for = "datascience">Data Science:</label><br>
       <input type="text" id="datascience" name="datascience" value="0"><br><br>
       <input type="submit" value="Submit">
    </form>
    <p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>
     
</body>
</html>